<div class="a_car">
	<div class="car_name"><a><%= car.name %></a></div>
  <div class="options">
    <%= link_to "Detalhes", admin_car_path(car) %> |
    <%= link_to "Alterar", edit_admin_car_path(car) %> |
    <%= link_to "Excluir", admin_car_path(car), confirm: "Tem certeza?", method: :delete %>
  </div>
  </br>
</div>
</br>