<div class="b_options">
  <%= link_to '>> Novo Carro', new_admin_car_path %>  
</div>
<h2 class="titulo">Editar</h2>

<%= render 'form' %>

<div class="b_options">
  <%= link_to 'Detalhes', admin_car_path(@admin_car) %> |
  <%= link_to 'Voltar', admin_cars_path %>
</div>
