<h2>Faça contato conosco!</h2>
<div class="contact">
  <p>Mande-nos um email:</p>
  <%= render 'form' %>
</div>
</br>
<hr>
ou pelos telefones:
<div class="numbers">
  <p>3225-4334 / 3225-4334</p>
</div>
</br>
<hr>
<div class="address">
  Endereço: 
  <p> Av. Cidade de Lisboa, 1201-A  - Pelotas - RS </p>
</div>

